body {
font-family: 'Oxygen Mono', monospace;
background-color: #61122f;
font-size: 16px;
}

#header-nav{
background-color: #f6b319;
border-radius: 0;
border: 0;

 #logo-img {
background: url (https://image.freepik.com/free-vector/vintage-retro-seafood-logo-badge_47641-44.jpg) no-repeat;
width: 150px;
height: 150px;
margin: 10px 15px 10px 0;
  }
